*{
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: #30336b;
    height: 40px;
    text-decoration: none;
    }
.navbar  a {
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #95afc0;
}


