body {
    background-color: rgb(128, 128, 235);
}
.a {
    color:white;
}
.b {
    color: rgb(240, 255, 36);
}
.c {
    color:white;
}
div {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background:rgb(7, 7, 151);
    width: 750px;
    height: 650px;
    box-shadow: 10px 10px 100px rgb(165, 230, 16);
}
.d {
    padding-top: 30px;
    width: 144px;
    height: 144px;
    border-radius: 50%;
}