*{
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: darkmagenta;
    height: 40px;
    text-decoration: none;
    }
.navbar  a {
    color: white;
    padding-right: 10px;
}
.gameshere {
    width: 100%;
}